<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="standard">
		</flux:form>

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" colspan="1" name="main" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<v:content.render column="0" />
	</f:section>
</div>