$burgerMargin: 4.5vw;
$burgerMarginDesktop: 9vw;

.burger {
    position: fixed;
    top: $burgerMargin;
    right: $burgerMargin;
    height: 1.5rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 9999;

    &__layer {
        position: absolute;
        display: block;
        height: .2rem;
        width: 100%;
        background-color: #fff;
        transition-duration: .25s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            top: 100%;
        }
    }

    @media screen and (min-width: $screensizeTablet) {
        top: $burgerMargin;
        right: $burgerMarginDesktop;
    }

    &-checkbox {
        display: none;
    }
}

.nav {
    top: -100vh;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    transition-duration: .5s;
    z-index: 100;

    &__list {
        list-style: none;
        text-align: center;

        a {
            text-decoration: none;
            color: #000;
            font-size: $fontsizeH1;
        }
    }
}

.lvl-1 {
    a {
        font-size: $fontsizeH2;
    }
}

.burger-checkbox:checked {
    ~.burger {
        .burger__layer {
            background-color: #000;

            &:nth-child(1) {
                top: 50%;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                top: 50%;
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                top: 50%;
                transform: rotate(135deg);
            }
        }
    }

    ~.nav {
        top: 0;
    }
}