.frame {
    &-indent {
        margin-left: $margin1;
        margin-right: $margin1;

        @media screen and (min-width: $screensizeTablet) {
            margin-left: $margin2;
            margin-right: $margin2;
        }
    }

    &-ruler {

        &-before::before {
            margin: 0;
            border-top: 4px solid $colorFrameBorder;
        }

        &-after::after {
            margin: 0;
            border-bottom: 4px solid $colorFrameBorder;
        }
    }
}