html,
body {
    font-size: $fontsizeMobileSmall;

    @media screen and (min-width: $screensizeMobile) {
        font-size: $fontsizeMobile;
    }

    @media screen and (min-width: $screensizeTablet) {
        font-size: $fontsizeTablet;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    font-size: $fontsizeCopy;
} 

h1 {
    font-size: $fontsizeH1;
}

h2 {
    font-size: $fontsizeH2;
}

h3 {
    font-size: $fontsizeH3;
}

h4 {
    font-size: $fontsizeH4;
}

h5 {
    font-size: $fontsizeH5;
}