$headlineMargin: 1em;

.headline {
    &--section {
        margin-bottom: $headlineMargin;
        font-size: $fontsizeH2;
        text-align: center;
    }
}

.h3,
.h2,
.h1 {
    &--center {
        text-align: center;
    }
}