.img {
    position: relative;

    &__overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;

        &__text {
            padding: $margin4;
            text-align: center;
        }
    }

    &__headline {
        font-size: $fontsizeH3;
        margin-bottom: $margin1;

        &:only-child {
            margin-bottom: 0;
        }
    }

    &__copy {
        font-size: $fontsizeCopy;
    }

}