.section {
    padding: $margin2;

    @media screen and (min-width: $screensizeTablet) {
        padding: $margin2 $margin4;
    }

    &__wrapper,
    &__content {
        margin-bottom: $margin2;
    }
}