$sectionHeadlineMargin: 2rem;

.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;

    &__headline {
        margin-bottom: $sectionHeadlineMargin;
        font-size: $fontsizeH1;
        text-align: center;
    }
}