$sectionMarginMobile: 1rem;
$sectionMargin: 6rem;
$sectionHeadlineMargin: 2rem;

.section {
    padding: 0 $sectionMarginMobile;

    @media screen and (min-width: $screensizeLaptop) {
        padding: 0 $margin3;
    }

    &__headline {
        margin-bottom: $sectionHeadlineMargin;
        font-size: $fontsizeH1;
        text-align: center;
    }
}