$swiper-button-margin: 30px;
$swiper-color: #fff;

.swiper {
    &-pagination {
        &-bullet {
            &-active {
                background-color: $swiper-color;
            }
        }
    }

    &-button {

        &-next,
        &-prev {
            background-image: url(../Icons/Global/arrow.svg);

            .swiper-button-disabled {
                opacity: 0;
            }
        }

        &-next {
            right: $swiper-button-margin;
        }

        &-prev {
            transform: scale(-1, 1);
            left: $swiper-button-margin;
        }
    }
}