$swiperButtonMargin: 10px;
$swiperButtonMarginDesktop: 30px;
$swiperColor: #fff;

.swiper {
    &-wrapper {
        align-items: center;
    }

    &-pagination {
        &-bullet {
            &-active {
                background-color: $swiperColor;
            }
        }
    }

    &-button {

        &-next,
        &-prev {
            width: 16px;
            height: 25px;
            background-size: contain;
            background-image: url(../Icons/Global/arrow.svg);

            @media screen and (min-width: $screensizeTablet) {
                width: 27px;
                height: 44px;
            }

            .swiper-button-disabled {
                opacity: 0;
            }
        }

        &-next {
            right: $swiperButtonMargin;

            @media screen and (min-width: $screensizeTablet) {
                right: $swiperButtonMarginDesktop;
            }
        }

        &-prev {
            transform: scale(-1, 1);
            left: $swiperButtonMargin;

            @media screen and (min-width: $screensizeTablet) {
                left: $swiperButtonMarginDesktop;
            }
        }
    }
}