//screen sizes
$screensizeMobile: 400px;
$screensizeTablet: 750px;
$screensizeLaptop:1050px;
$screensizeDesktop:1500px;

//global root fontsize in px
$fontsizeMobileSmall: 14px;
$fontsizeMobile: 16px;
$fontsizeTablet: 18px;
$fontsizeLaptop: 24px;
$fontsizeDesktop: 28px;

//fontsize in rem for texts
$fontsizeCopy: 1.1rem;
$fontsizeH5: 1.1rem;
$fontsizeH4: 1.1rem;
$fontsizeH3: 1.3rem;
$fontsizeH2: 1.7rem;
$fontsizeH1: 2.5rem;

//margins
$margin1: 5vw;
$margin2: $margin1*2;
$margin3: $margin2*2;
$margin4: $margin3*2;