//screen sizes
$screensizeTablet: 750px;
$screensizeLaptop:1050px;
$screensizeDesktop:1500px;

//global fontsize in px
$fontsizeMobile: 16px;
$fontsizeTablet: 20px;
$fontsizeLaptop: 24px;
$fontsizeDesktop: 28px;

//fontsize in em for texts
$fontsizeCopy: 1rem;
$fontsizeH5: 1.2rem; 
$fontsizeH4: 1.4rem;
$fontsizeH3: 1.6rem;
$fontsizeH2: 1.7rem;
$fontsizeH1: 3.5rem;

//margins
$marginPadding: 20px;
$margin1: 5vw;
$margin2: $margin1*2;
$margin3: $margin2*2;
$margin4: $margin3*2;

//element colors
$colorMain: #000000;
$colorHr: $colorMain;
$colorAccordion: grey;
$colorAccordionHighlight: $colorMain;
$colorButton: $colorMain;
$colorIconlist: $colorMain;
$colorFrameBorder: $colorMain;