<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="2col" label="2 columns" description="Grid element with two columns">
        <flux:form.option name="group" value="Structure" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon" value="EXT:olliprovider/Resources/Public/Icons/Contentelements/baseline-looks_two-24px.svg" />
    </flux:form>

    <flux:grid>
        <flux:grid.row>
            <flux:grid.column name="left" label="Left" colPos="1" />
            <flux:grid.column name="right" label="Right" colPos="2" />
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Main">
    <div class="section__wrapper col">
        <div class="col__50">
            <flux:content.render area="left" />
        </div>

        <div class="col__50">
            <flux:content.render area="right" />
        </div>
    </div>
</f:section>

</html>