<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="4col" label="4 columns" description="Grid element with four columns">
        <flux:form.option name="group" value="Structure" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon" value="EXT:olliprovider/Resources/Public/Icons/Contentelements/baseline-looks_4-24px.svg" />
    </flux:form>

    <flux:grid>
        <flux:grid.row>
            <flux:grid.column name="col1" label="column 1" colPos="1" />
            <flux:grid.column name="col2" label="column 2" colPos="2" />
            <flux:grid.column name="col3" label="column 3" colPos="3" />
            <flux:grid.column name="col4" label="column 4" colPos="4" />
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Main">
    <div class="section__wrapper col">
        <div class="col__25">
            <flux:content.render area="col1" />
        </div>

        <div class="col__25">
            <flux:content.render area="col2" />
        </div>

        <div class="col__25">
            <flux:content.render area="col3" />
        </div>

        <div class="col__25">
            <flux:content.render area="col4" />
        </div>
    </div>
</f:section>

</html>