<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="accordionitem" label="Accordion item" description="A single accordion item, to be filled with CE">

        <flux:form.option name="group" value="Accordion" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:ollicontent/Resources/Public/Icons/Contentelements/baseline-add_box-24px.svg" />

        <flux:field.input name="headline" required="1" label="Title" />
    </flux:form>

    <flux:grid>
        <flux:grid.row>
            <flux:grid.column name="content" label="Accordion content" colPos="1" />
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Preview">
    {headline}
</f:section>

<f:section name="Main">
    <div class="accordion">
        <input class="accordion__checkbox" id="accordion-{record.uid}" type="checkbox" name="accordions">
        <label class="accordion__label accordion__label--{record.uid}" for="accordion-{record.uid}">{headline}</label>

        <flux:content.render area="content" />
    </div>
</f:section>

</html>