<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="arrow" label="Navigation arrows" description="Go to next or previous page">
        <flux:form.option name="group" value="Structure" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:ollicontent/Resources/Public/Icons/Contentelements/baseline-compare_arrows-24px.svg" />

        <flux:field.file name="arrow" label="Arrow svg"
            default="EXT:ollicontent/Resources/Public/Icons/Global/arrow.svg" />

        <f:render section="Settings" partial="PositionController" arguments="{_all}" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>Navigation arrows</b>
</f:section>

<f:section name="Main">
    <f:render section="Initiation" partial="PositionController" arguments="{_all}" />

    <v:page.menu.browse>
        <div class="arrownavigation">
            <f:link.typolink
                parameter="{f:if(condition: '{menu.prev.link}', then: '{menu.prev.link}', else: '{menu.last.link}')}">
                <f:image class="arrownavigation__prev" src="{arrow}" treatIdAsReference="1" />
            </f:link.typolink>

            <f:link.typolink
                parameter="{f:if(condition: '{menu.next.link}', then: '{menu.next.link}', else: '{menu.first.link}')}">
                <f:image class="arrownavigation__next" src="{arrow}" treatIdAsReference="1" />
            </f:link.typolink>
        </div>
    </v:page.menu.browse>
</f:section>

</html>