<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="burgermenu" label="Burger menu" description="Burger with menu">
        <flux:form.option name="group" value="Structure" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:ollicontent/Resources/Public/Icons/Contentelements/baseline-menu-24px.svg" />

        <flux:form.sheet name="logo" label="Logo settings" description="Set the logo, logo when active and link"
            shortDescription="/">
            <flux:field.file name="logo.default" label="logo" />
            <flux:field.file name="logo.active" label="logo active" />
            <flux:field.input name="logo.link" label="link">
                <flux:wizard.link />
            </flux:field.input>
        </flux:form.sheet>

        <flux:form.sheet name="settings" label="General settings" description="" shortDescription="">
            <flux:field.input name="settings.color" label="Burger color">
                <flux:wizard.colorPicker />
            </flux:field.input>
            <flux:field.input name="settings.colorActive" label="Burger color active">
                <flux:wizard.colorPicker />
            </flux:field.input>
            <flux:field.input name="settings.navColor" label="Navigation text color">
                <flux:wizard.colorPicker />
            </flux:field.input>
            <flux:field.input name="settings.bgColor" label="Navigation background color">
                <flux:wizard.colorPicker />
            </flux:field.input>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>Burger menu</b>
</f:section>

<f:section name="Main">
    <v:asset.style name="burger{record.uid}" fluid="true">
        <f:if condition="{settings.color}">
            .burger--{record.uid} .burger__layer{
            background-color:{settings.color};
            }
        </f:if>

        <f:if condition="{settings.colorActive}">
            .burger-checkbox:checked ~.burger--{record.uid} .burger__layer {
            background-color:{settings.colorActive};
            }

            .burger--active .burger__layer{
            background-color:{settings.colorActive};
            }
        </f:if>

        <f:if condition="{settings.navColor}">
            .nav {
            background-color: {settings.bgColor};
            }

            .nav__list a {
            color: {settings.navColor};
            }
        </f:if>
    </v:asset.style>

    <v:asset.script name="burgerScript{record.uid}" fluid="1">
        window.addEventListener('scroll', function () {
        headerColor();
        checkLogo();
        });

        burgerNav.addEventListener('click', toggleNav);
    </v:asset.script>

    <f:if condition="{logo.default}">
        <f:link.typolink class="logo" parameter="{logo.link}">
            <f:image class="logo__default" src="{logo.default}" treatIdAsReference="1" />
            <f:image class="logo__alternative logo--hidden" src="{logo.active}" treatIdAsReference="1" />
        </f:link.typolink>
    </f:if>

    <input class="burger-checkbox" type="checkbox" name="burger-checkbox" id="burgermenu">

    <label class="burger burger--{record.uid}" for="burgermenu">
        <span class="burger__layer"></span>
        <span class="burger__layer"></span>
        <span class="burger__layer"></span>
    </label>

    <nav class="nav">
        <v:menu class="nav__list" forceClosingTag="1" tagName="ul" tagNameChildren="li" expandAll="true" levels="2" />
    </nav>
</f:section>

</html>