<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="burgermenu" label="Burger menu" description="Burger with menu">
        <flux:form.option name="group" value="Partials" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:ollicontent/Resources/Public/Icons/Contentelements/baseline-menu-24px.svg" />

        <flux:field.file name="logo" />

        <flux:grid>
            <flux:grid.row>
                <flux:grid.column name="pages" label="pages" colPos="1" />
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>Burger menu</b>
</f:section>

<f:section name="Main">
    <f:if condition="{logo}">
        <f:image class="logo" treatIdAsReference="1" src="{logo}" />
    </f:if>

    <input class="burger-checkbox" type="checkbox" name="burger-checkbox" id="burgermenu">

    <label class="burger" for="burgermenu">
        <span class="burger__layer"></span>
        <span class="burger__layer"></span>
        <span class="burger__layer"></span>
    </label>

    <nav class="nav">
        <flux:content.render area="pages" />
    </nav>
</f:section>

</html>