<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="button" label="Button" description="Simple button">
        <flux:form.option name="group" value="ContentElements" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:olliprovider/Resources/Public/Icons/Contentelements/baseline-check_box_outline_blank-24px.svg" />

        <flux:field.text name="text" label="Text" required="1" />
        <flux:field.input name="link" label="Link" required="1">
            <flux:wizard.link />
        </flux:field.input>
        <flux:field.input name="settings.bgcolor" label="Background color">
            <flux:wizard.colorPicker />
        </flux:field.input>
        <flux:field.select name="settings.alignment" label="Alignment" required="1" items="{
                           0:{0:'left',1:'left'},
                           1:{0:'center',1:'center'},
                           2:{0:'right',1:'right'}
                           }" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>button</b>
    <p>{text}</p>
</f:section>

<f:section name="Main">
    <v:asset.style name="button" fluid="true">
        .button--{record.uid} {
        <f:format.raw>
            {f:if(condition: '{settings.bgcolor}', then: 'background-color:{settings.bgcolor};')}
        </f:format.raw>
        }
    </v:asset.style>

    <div class="section__content button-wrapper button--{settings.alignment}">
        <f:link.typolink parameter="{link}" class="button button--{record.uid}">
            {text}
        </f:link.typolink>
    </div>
</f:section>

</html>