<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="footer" label="Footer" description="Simple footer with three columns">

        <flux:form.option name="group" value="Structure" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:ollicontent/Resources/Public/Icons/Contentelements/baseline-minimize-24px.svg" />

        <flux:form.section name="content">
            <flux:form.object name="contentLink" label="Link">
                <flux:field.input name="text" label="Text" />
                <flux:field.input name="link" label="Link">
                    <flux:wizard.link />
                </flux:field.input>
            </flux:form.object>

            <flux:form.object name="contentSocialmedia" label="Social media">
                <flux:field.file name="icon" label="icon" required="true" allowed="jpg,png,svg" showThumbnails="1" />
                <flux:field.input name="link" label="Link">
                    <flux:wizard.link />
                </flux:field.input>
            </flux:form.object>
        </flux:form.section>

        <flux:form.sheet name="footer.colors" label="Colors" description="Set colors for text and background">
            <flux:field.input name="colorText" label="Text color">
                <flux:wizard.colorPicker />
            </flux:field.input>
            <flux:field.input name="colorBackground" label="Background color">
                <flux:wizard.colorPicker />
            </flux:field.input>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>footer</b>
</f:section>

<f:section name="Main">
    <v:asset.style name="footer{record.uid}" fluid="true">
        .footer--{record.uid} {
        <f:format.raw>
            {f:if(condition: '{colorBackground}', then: 'background-color: {colorBackground}')}
        </f:format.raw>
        }

        .footer__item--{record.uid} {
        <f:format.raw>
            {f:if(condition: '{colorText}', then: 'color: {colorText};')}
        </f:format.raw>
        }
    </v:asset.style>

    <footer class="footer footer--{record.uid}">
        <f:for each="{content}" as="contentItem">
            <f:if condition="{contentItem.contentLink}">
                <f:link.typolink class="footer__item footer__item--{record.uid}"
                    parameter="{contentItem.contentLink.link}">
                    {contentItem.contentLink.text}
                </f:link.typolink>
            </f:if>

            <f:if condition="{contentItem.contentSocialmedia}">
                <f:link.typolink class="footer__item" parameter="{contentItem.contentSocialmedia.link}">
                    <f:image class="footer__icon" src="{contentItem.contentSocialmedia.icon}" treatIdAsReference="1" />
                </f:link.typolink>
            </f:if>
        </f:for>
    </footer>
</f:section>

</html>