<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="listicons" label="Icon list" description="List element with icons">

        <flux:form.option name="group" value="ContentElements" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon"
            value="EXT:olliprovider/Resources/Public/Icons/Contentelements/baseline-list-24px.svg" />

        <flux:field.input name="headline" label="Title" />
        <flux:field.inline.fal name="slider.images" required="1" minItems="1" maxItems="100" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <b>icon list</b>
    <p>{headline}</p>
</f:section>

<f:section name="Main">
    <div class="section__content list">
        <f:if condition="{headline}">
            <f:then>
                <div class="list__headline">
                    <h3>{headline}</h3>
                </div>
            </f:then>
        </f:if>

        <f:for each="{v:content.resources.fal(field: 'slider.images')}" as="image">
            <div class="list__item">
                <f:image class="list__icon" src="{image.id}" treatIdAsReference="1" />
                <p class="list__text">
                    {image.description}
                </p>
            </div>
        </f:for>

    </div>
</f:section>

</html>