<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3\Flux/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="teaser" label="Bild teaser" description="Image with overlay on hover">
        <flux:form.option name="group" value="ContentElements" />
        <flux:form.option name="Fluidcontent" value="{sorting: 150}" />
        <flux:form.option name="icon" value="EXT:olliprovider/Resources/Public/Icons/Contentelements/baseline-collections-24px.svg"/>

        <flux:field.file name="image" required="true" />
        <flux:field.input name="headline" label="Title" />
        <flux:field.text name="text" label="Description" />
        <flux:field.input name="link" label="link">
            <flux:wizard.link />
        </flux:field.input>
    </flux:form>
</f:section>

<f:section name="Preview">
    Teaser
</f:section>

<f:section name="Main">
    <f:link.typolink parameter="{link}">
        <div class="section__content teaser">
            <f:image treatIdAsReference="1" src="{image}" />

            <div class="teaser__overlay">
                <div class="teaser__overlay__text">
                    <f:if condition="{headline}">
                        <f:then>
                            <h3 class="teaser__headline">{headline}</h3>
                        </f:then>
                    </f:if>

                    <f:if condition="{text}">
                        <f:then>
                            <p class="teaser__copy">
                                {text}
                            </p>
                        </f:then>
                    </f:if>
                </div>
            </div>
        </div>
    </f:link.typolink>
</f:section>

</html>